---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: yamllint
        name: yamllint
        language: system
        entry: yamllint
        args: [-c, .yamllint]
        types: [yaml]

      - id: ansible-lint
        name: ansible-lint
        language: system
        entry: ansible-lint
        pass_filenames: false
        always_run: true
