---
# devlbo.secrets - Provision all secrets
#
# Orchestrates both passwords and ssh_keys roles.
#
# No passwords are generated if `passwords__users` list is empty.
# No SSH Keys are generated if `ssh_keys__users` list is empty.
#
# Usage:
#   # With both user lists defined in a vars file
#   ansible-playbook devlbo.secrets.provision_secrets \
#     -e @vars/my_users.yml
#
#   # Passwords only (ssh_keys__users defaults to empty)
#   ansible-playbook devlbo.secrets.provision_secrets \
#     -e @vars/password_users.yml

- name: Provision secrets
  hosts: localhost
  connection: local
  gather_facts: false

  roles:
    # Provision passwords
    - role: devlbo.secrets.passwords

    # Provision SSH keys
    - role: devlbo.secrets.ssh_keys
